body{
    background: rgb(230, 214, 214);
}
.container{
    height: 550px;
    width: 700px;
    background: #fff;
    margin: 0 auto;
    margin-top: 90px;
}
.container .row-1{
    width: 100%;
    height: 15%;
    background: rgb(165, 15, 202);
    margin-bottom: 2%;
}
.container .row-2{
    width: 100%;
    height: 61%;
    background: rgb(255, 255, 255);
    margin-bottom: 2%;
}
.container .row-2 .colloum-1{
    margin-left: .5%;
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background: rgb(0, 247, 255);
    float: left;
}
.container .row-2 .colloum-2{
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background: rgb(0, 247, 255);;
    float: left;
}
.container .row-2 .colloum-3{
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background: rgb(0, 247, 255);;
    float: left;
}
.container .row-2 .colloum-4{
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background: rgb(0, 247, 255);;
    float: left;
}
.container .row-3{
    width: 100%;
    height: 20%;
    background: rgb(255, 255, 255);
   
}

.container .row-3 .colloum-1{
    margin-left: .5%;
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background: rgb(0, 247, 255);;
    float: left;
}
.container .row-3 .colloum-2{
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background: rgb(0, 247, 255);;
    float: left;
}
.container .row-3 .colloum-3{
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background: rgb(0, 247, 255);;
    float: left;
}
.container .row-3 .colloum-4{
    margin-right: 2%;
    height: 100%;
    width: 22.875%;
    background:rgb(0, 247, 255);;
    float: left;
}
h1{
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-family: sans-serif;
}
h2{
    font-size: 18px;
    padding-left: 5px;
}
p{
    font-size: 13px;
    text-align: justify;
    padding-left: 5px;
    height: 290px;
    width: 155px;

    margin-top: -5px;
}